PORT="3000"
AWS_REGION=""
DATABASE_URL=""
RESEND_API_KEY=""
RESEND_EMAIL=""
UBER_CLIENT_ID=""
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
UBER_CUSTOMER_ID=""
AWS_ACCESS_KEY_ID=""
STRIPE_SECRET_KEY="s"
AWS_S3_BUCKET_NAME=""
BETTER_AUTH_SECRET=""
UBER_CLIENT_SECRET=""
GOOGLE_CLIENT_SECRET=""
AWS_SECRET_ACCESS_KEY=""
STRIPE_YEARLY_PRICE_ID=""
UPSTASH_REDIS_REST_URL=""
STRIPE_MONTHLY_PRICE_ID=""
STRIPE_ONE_TIME_PRICE_ID=""
UPSTASH_REDIS_REST_TOKEN=""
STRIPE_MONTHLY_PRODUCT_ID=""
STRIPE_ONE_TIME_PRODUCT_ID=""
STRIPE_API_VERSION=""
